name: Android CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: [ "main" ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    env:
        TAG: Release
        PROJECT_NAME: ${{github.event.repository.name}}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        FILE_OUTPUT: ./app/build/outputs/apk/debug/app-debug.apk
        
    steps:
      
    - uses: actions/checkout@v4
    
    - name: Setting JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle
        
    - name: memberikan Perizinan gradlew
      run: chmod +x gradlew
      
    - name: Build debug Apk
      run: bash ./gradlew assembleDebug --stacktrace
    

    - name: Upload Ke dalam Artifact
      uses: actions/upload-artifact@v3.1.3
      with:
          name: ${{env.PROJECT_NAME}}
          path: ${{env.FILE_OUTPUT}}

    - name: Pembuatan Membuat Tag Rilis
      id: create_release
      uses: actions/create-release@v1
      with:
          tag_name: ${{env.TAG}}
          release_name: ${{env.PROJECT_NAME}}
          body: "Aplikasi ini otomatis dirilis sesuai dengan Artefact"
          draft: false
          prerelease: false
             
    - name: Upload Release
      uses: xresloader/upload-to-github-release@v1
      with:
        file: ${{env.FILE_OUTPUT}}
        tag_name: ${{env.TAG}}
        tags: true
<<<<<<< HEAD

=======
>>>>>>> e4965f3 (Update AGP dan SDK Version)
      
